#logo {
    width: 12vw;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }


  .bg-light {
    background-color: #FEEAFA !important;
}

.jumbotron {
    background-color: #FEEAFA;
}

.btn-primary {
    color: #000;
    background-color: #FFC5F3;
    border-color: #FFC5F3;
}

.brmedium {
    display: block;
    margin-bottom: 2em;
}

.midfiMobile {
    width: 100%;
    height: auto;
}

.marginBottom-100 {
    margin-bottom: 100px;
}

.marginBottom-50 {
    margin-bottom: 50px;
}

.usabilityTest {
    list-style-type: none;

}

.center {
    text-align: center;
}

.projectOverview {
    margin-left: auto;
}

.wonder {
    margin-top: 6.5em;
}


@media only screen and (max-width: 600px) {
    .center {
        text-align: center;
    }
  }



@media only screen and (min-width: 600px) {
    .pLeftRemove {
        padding-left: 0;
  }