#logo {
    width: 16vw;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }


  .bg-light {
    background-color: #FEEAFA !important;
}

.jumbotron {
    background-color: #FEEAFA;
}

.btn-primary {
    color: #000;
    background-color: #FFC5F3;
    border-color: #FFC5F3;
}

.brmedium {
    display: block;
    margin-bottom: 2em;
}

.midfiMobile {
    width: 100%;
    height: auto;
}

.marginBottom-100 {
    margin-bottom: 100px;
}

.marginBottom-50 {
    margin-bottom: 50px;
}

.usabilityTest {
    list-style-type: none;

}

.middle {
    text-align: center;
}

.projectOverview {
    margin-left: auto;
}

.wonder {
    margin-top: 9.5em;
}

.hoverColor:hover{
    background-color: #6E6CE7
}

.navbar-nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #6E6CE7;
    border-bottom: 1px solid #6E6CE7;
    padding-bottom: 10px;
}

.nav-item {
    padding: 15px;
}

@media only screen and (max-width: 600px) {
    .center {
        text-align: center;
    }
    .nav-item {
        padding: 5px

    }

.navbar-light .navbar-nav .nav-link:hover {
    color: #6E6CE7;
    border-bottom: none;
   
}
  }



@media only screen and (min-width: 600px) {
    .pLeftRemove {
        padding-left: 0;
  }